[color]
	ui = true
[core]
	editor = kak
	excludesFile = ~/.gitignore
[user]
	name = Hugo Belot-Deloro
	email = hugo.belot-deloro@epita.fr
[alias]
	graph = log --all --oneline --graph --decorate
[init]
	defaultBranch = master
